*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: "Elsie", serif;
}
html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
}
/* navbar section */
.navbar{
    background: white;
    height: 60px;
    padding: 0.5rem calc((50vw - 1600px) / 2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    text-align:center;
}
.navbar__logo{
    color: rgb(252,83,235);
    text-decoration: none;
    font-size: 1rem;
}
.logoimg{
    height:150px;
    width:150px;
}
.navbar__link{
    color: black;
    text-decoration: underline;
    padding: 0rem 0.5rem;
}
.navbar__link:hover{
    color: orange;
}
.open-menu, .close-menu{
    position: absolute;
    color: black;
    font-size: 1.5rem;
    display: none;
}
.open-menu{
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu{
    top: 20px;
    right: 20px;
}
#check{display: none;}
@media screen and (max-width: 768px){
    .navbar__menu{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 40%;
        height:100%;
        position: fixed;
        top: 0;
        right: -100%;
        z-index:100;
        background-color: white;
        transition: all 0.2s ease-in-out;
        text-align:center;
    }
    .navbar__link{
        padding:10px;
        margin:40px;
        display: flex;
        felx-direction: column;
        align-items: center;
        justify-content: center;
    }
    .open-menu, .close-menu{display:block;}
    #check:checked ~ .navbar__menu {right: 0;}
}

.hero{
    background: linear-gradient(to bottom, rgba(252,83,235, 1), rgba(255,140,0, 0.5));
    height: 100vh;
    background-position: center;
    padding: 0.5rem calc((100vw - 1200px) / 2);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    scroll-snap-align: start;
}
.hero__content{

}
.hero__link h1{
    color:black;
    font-size: 1.8rem;
}
